<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fagagy.szeged.hu.szegednight" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".pages.ParseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon3"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/MyMaterialTheme" >
        <activity
            android:name=".startingPageRescources.StartingPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".pubResources.PubBrowser"
            android:label="Kocsmák"
            android:parentActivityName=".startingPageRescources.StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startingPageRescources.StartingPage" />
        </activity>
        <activity
            android:name=".restaurantResources.RestaurantBrowser"
            android:label="Gyorséttermek"
            android:parentActivityName=".startingPageRescources.StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startingPageRescources.StartingPage" />
        </activity>
        <activity
            android:name=".atmResources.AtmBrowser"
            android:label="Bankautomaták"
            android:parentActivityName=".startingPageRescources.StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startingPageRescources.StartingPage" />
        </activity>
        <activity
            android:name=".tobaccoResources.TobaccoBrowser"
            android:label="Dohányboltok"
            android:parentActivityName=".startingPageRescources.StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startingPageRescources.StartingPage" />
        </activity>
        <activity
            android:name=".partyResources.PartyBrowser"
            android:label="Parties"
            android:parentActivityName=".startingPageRescources.StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startingPageRescources.StartingPage" />
        </activity>
        <activity
            android:name=".shopResources.ShopBrowser"
            android:label="Shops"
            android:parentActivityName=".startingPageRescources.StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".startingPageRescources.StartingPage" />
        </activity>
        <activity
            android:name=".pages.SubscribedPage"
            android:screenOrientation="portrait" >>
        </activity>
    </application>

</manifest>
