<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fagagy.szeged.hu.szegednight" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartingPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowserPage"
            android:label="@string/title_activity_browser_page"
            android:parentActivityName=".StartingPage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
        <activity
            android:name=".AtmPage"
            android:label="@string/title_activity_atm_page"
            android:parentActivityName=".StartingPage"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
        <activity
            android:name=".PartiesPage"
            android:label="@string/title_activity_parties_page"
            android:parentActivityName=".StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
        <activity
            android:name=".TaxiPage"
            android:label="@string/title_activity_taxi_page"
            android:parentActivityName=".StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
        <activity
            android:name=".ShopsPage"
            android:label="@string/title_activity_day_night_page"
            android:parentActivityName=".StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
        <activity
            android:name=".TobaccoShopsPage"
            android:label="@string/title_activity_tobacco_page"
            android:parentActivityName=".StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
        <activity
            android:name=".RestaurantsPage"
            android:label="@string/title_activity_restaurants_page"
            android:parentActivityName=".StartingPage" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".StartingPage" />
        </activity>
    </application>

</manifest>
